.App {
  text-align: center;
}


.img-profile {
  max-width: 300px;
}

.img-session{
  max-width: 200px
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


body, html {
    height: 100%;
    margin: 0;
}

.bg {
    /* The image used */
    background-image: url("https://media.giphy.com/media/qJWGUw3kZOVna/giphy.gif");

    /* Full height */
    height: 1500px;
    width:100%;
    margin:0 auto;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg2{
  /* The image used */
  background-image: url("https://wallpaperscraft.com/image/abstraction_passage_light_black_blue_413_1600x900.jpg");

  /* Full height */
  height: 1500px;
  width:100%;
  margin:0 auto;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.bg3{
  /* The image used */
  background-image: url("https://wallpaperscraft.com/image/abstraction_passage_light_black_blue_413_1600x900.jpg");

  /* Full height */
  min-height: 1500px;
  width:100%;
  margin:0 auto;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.bg4{
  /* The image used */
  background-image: url("https://images.unsplash.com/photo-1444824775686-4185f172c44b?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=6c3dcf58bb589856e8a3b0e21412fbeb&auto=format&fit=crop&w=750&q=80");

  /* Full height */
  height: auto;
  width:100%;
  margin:0 auto;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.box{
    background-color: #C5C6C7;
    width: 300px;
    border: 5px solid black;
    padding: 25px;
    margin: 25px;
}
.box2{
    background-color:rgba(197, 198, 199, 0.7);
    width: 500px;
    border: 5px solid black;
    padding: 50px;
    margin: 25px;
}

.box3{
    background-color:rgba(31, 40, 51, 0.5);
    width: auto;
    padding: 50px;
    margin: 25px;
}


.buttoncenter {
    position: fixed;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100px; /* width of button */
    height: 30px; /* height of button */
}

.home {
  padding-top: 150px;
  font-size: 100px;
}
.signup{
    font-size: 40px;
    text-align: center;
}
.login{
  font-size: 40px;

}
.app{
  padding-top: 100px;
}

.profile{
  margin-top: 0px;
}

.white{
  color: white
}

.Div1 {
      position: fixed;
      overflow-y: auto;
}
.ui.color1.button {
  background-color: #66FCF1;
  color: black;
}

.ui.color1.header{
  color: #66FCF1
}

h1{
  color: #66FCF1;
  font-family: "Times New Roman", Times, serif
}

label{
  font-size: 15px;
}

.container1{
    margin: 0 auto;
    width: 80%;
    max-width: 1500px;
}
